*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* contenedor 1 */
.contenedor{
  max-width: 1200px;
  height: 100vh;
  border: solid 1px whitesmoke;
  margin: 0 auto;
  background: black;

  display: flex;
  /* display: inline-flex; */

  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap; */
  /* flex-flow: column wrap; */

  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-items: stretch; */
  /* align-items: baseline; */

  align-content: flex-start;
  /* align-content: flex-end; */
  /* align-content: space-between; */
  /* align-content: space-around; */
  /* align-content: space-evenly; */
  
}

.item{
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  text-align: center;
  border: solid 1px gray;
}

.contenedor .item:nth-child(3){
  background-color: slateblue;
  order: -1;
}

@media (max-width:800px){

  .contenedor{
    background-color: #ffffff;
    flex-direction: column;
  }

  .contenedor .item:nth-child(3){
    background-color: slateblue;
    order: 1;
  }
}








